createdAt: "2019-10-08T12:17:55.660Z"
updatedAt: "2020-01-20T19:29:46.598Z"
type: "MARKDOWN_NOTE"
folder: "7334c1cdd9476578bbc4"
title: "Daily Summary: Always set a number of STEPS"
tags: []
content: '''
# Daily Summary: Always set a number of STEPS
See [previous summary](:note:87ab5326-a8d0-49ba-a30b-e5df9e46cd47)
Read [AAS everyday](:note:b2750bc4-a641-4cad-a8ac-f07cce1b2fc3)

Current notes:
[PHD proposals](:note:8659dc75-5fbc-4e40-b7e7-30d5c765bd62)

----
| W49|Plan|Progress|TODO|
|:------:|:------:|:------:|:------:|
| Sun| Rest: Fix Rountine |Weekly review (2h)        |        |
|Mon|Weekly review (4h) <br> FP sildes reading (1h)      |11<br>2<br>|eee<br>| 
|Tue|rere<br>|                   |             |
|Wed|                      |                      |             |
|Thu|               |                                |                         | 
|Fri|                |    |     | 
'''
linesHighlighted: []
isStarred: false
isTrashed: false