createdAt: "2018-07-24T15:24:44.702Z"
updatedAt: "2020-07-01T11:22:58.227Z"
type: "MARKDOWN_NOTE"
folder: "7334c1cdd9476578bbc4"
title: "weekly Summary: Always set a number of STEPS"
content: '''
# weekly Summary: Always set a number of STEPS
See [previous summary](:note:87ab5326-a8d0-49ba-a30b-e5df9e46cd47)
Read [AAS everyday](:note:b2750bc4-a641-4cad-a8ac-f07cce1b2fc3)

Current notes:
[PHD proposals](:note:8659dc75-5fbc-4e40-b7e7-30d5c765bd62)

----
 Weekly Review|||||||
|:------:|:------:|:------:|:------:|:------:|:------:|:------:|:------:|:------:|
| weeknumbers|W27||W28||W29||W30||
|Project name|Plan| Done|Plan| Done|Plan| Done|Plan| Done|
|UIBK| Constraints algorithm (4d) <br> extended abstract (1d)    |  extended abstract (1d)<br>seasonal review(0.5d)<br>Constraints algorithm (1.5d)<br>sick(1d)<br>|  Constraints algorithm (3d)<br>articulated algorithm (2d)<br>The rest of the algorithm (1d)<br>|  articulated algorithm (4d)<br>Boostnote upgrade (1d)<br>|  Constraints algorithm (3d)<br>The rest of the algorithm (2d)<br>| | | |
|Practical| tensorflow tutorial (0.5d) <br>Kaggle competition (3d)<br> IELS (2d) |  IELS (2d)<br>|  tensorflow tutorial (0.5d)<br>Kaggle competition (3d)<br>LinkedIn test(1d)<br>LinkedIn init application(1d)<br>|  |  tensorflow tutorial (0.5d)<br>Kaggle competition (3d)<br>LinkedIn test(1d)<br>LinkedIn init application(1d)<br>| | | |
|Reading slots|Papers in todo folder(5h)|  |  Pandemic Webseminar(2d)<br>MLSS(1d)<br>|  MLSS(1d)<br>|  Pandemic Webseminar(2d)<br>| | | |
|Software slots|Python Q (2h)<br> See calendar (1h)|  |  Python Q (2h)<br>|  |  Python Q (2h)<br>| | | |
|Skills|Videos B X20 (3d) |  |  Videos B X20 (3d)<br>|  |  Videos B X20 (3d)<br>| | | |
|Saturday| [Python Web Scraping](https://elitedatascience.com/python-web-scraping-libraries) (4h)       |  |  [Python Web Scraping](https://elitedatascience.com/python-web-scraping-libraries) (4h) <br>|  |  [Python Web Scraping](https://elitedatascience.com/python-web-scraping-libraries) (4h)<br>| | | |






* Validate that it is a contribution
1. Vision assisted PbD check





'''
tags: [
  "review"
  "summary"
  "TODO"
]
isStarred: false
isTrashed: false
linesHighlighted: []
